<div class="portal-banner">
    <div class="banner-content">
        <div class="banner-title">Farewell Center</div>
        <div class="banner-heading">
            <h1>IT Salute Desk</h1>
        </div>
    </div>
</div>