<nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
        <span class="navbar-brand mb-0 h1">UrgentMatter <span class="text-muted">- Farewell Center</span></span>
        <div class="nav-right">
            {# <a href="#">Farewells
                <span class="ms-1 badge rounded-pill bg-danger">
                    99+
                    <span class="visually-hidden">fake tickets</span>
                </span>
            </a> #}
            {# {% for avatar in avatars %}
                {% if loop.index0 == 0 %}
                    {% set user_avatar_class = "user-avatar active" %}
                {% else %}
                    {% set user_avatar_class = "user-avatar hide" %}
                {% endif %}
            
                <div
                    id="{{ 'user_avatar_' ~ avatar|replace({'.jpg': ''}) }}"
                    class="{{ user_avatar_class }} ms-3"
                >
                    <img
                        class="avatar-img"
                        width="50"
                        height="50"
                        src="{{ asset('build/images/avatars/' ~ avatar) }}" 
                        alt="avatar icon"
                    >
                </div>
            {% endfor %} #}
        </div>
    </div>
</nav>
