<nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
        <span class="navbar-brand mb-0 h1">UrgentMatter <span class="text-muted">- Farewell Center</span></span>
        <div class="nav-right pe-3">
            {% if app.user %}
                <div class="user-info d-flex flex-row pe-3 justify-content-center align-items-center">
                    <div class="user-avatar pe-2">
                        {# TODO: change this to John #}
                        <img heigh="30" width="30" src="{{ asset('build/images/agents/kramer.jpg') }}" alt="Agent avatar" />
                    </div>
                    <div class="username">
                        {{ app.user.username }}
                    </div>
                </div>
                <div class="log-link">
                    <a class="nav-link" href="{{ path('app_logout') }}">Logout</a>
                </div>
            {% else %}
                <div class="log-link">
                    <a class="nav-link" href="{{ path('app_login') }}">Login</a>
                </div>
            {% endif %}
        </div>
    </div>
</nav>
