@import "variables";

.portal-banner {
    background-color: $primary-dark;
    border-bottom: 1px solid $primary-darkerer;
    color: $grey-lightest;
    padding-top: 2.25rem;
    padding-bottom: 2.25rem;

    .banner-content {
        display: flex;
        flex-direction: column;
        width: $max-content-width;
        margin-left: auto;
        margin-right: auto;
    }
}

.portal-body {
    width: $max-content-width;
    margin-left: auto;
    margin-right: auto;
}

// Avatar selector
img.avatar-img,
img.agent-img {
    border-radius: 50%;
}

.avatar-selector-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: max-content;
}

.avatar-picker {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.avatar-option {
    padding: .4rem;
    width: min-content;
    border-radius: 50%;
    border: 2px solid transparent;

    &:hover {
        cursor: pointer;
        border: 2px solid rgb(254, 119, 213);
    }
}

.user-avatar {
    display: flex;
    flex-direction: row;
    width: fit-content;
}

// Service board
.service-board-layout {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.queue-container {
    width: 100%;
    padding: 2rem;
}

.queue-title {
    h3 {
        color: $info-lightest;
    }
}

.queue-header-breadcrumbs {
    ul {
        list-style: none;
        list-style-type: none;
        padding-left: 0;

        li {
            padding-left: .5rem;
            display: inline-block;

            a {
                color: $grey;
                text-decoration: none;

                &:hover {
                    color: $info-light;
                }
            }

            &:first-of-type {
                padding-left: 0;
            }

            &::after {
                content: "/";
                padding-left: .5rem;
            }

            &:last-of-type::after {
                content: none;
            }
        }
    }
}

table.queue-table {
    width: 100%;
    font-size: 95%;

    thead {
        border-bottom: $border-main;
    }

    td {
        vertical-align: middle;
    }

    a.queue-link {
        text-decoration: none;;
        color: $info-lighter;

        &:hover {
            color: $info;
        }
    }
}

.agent-select-td {
    position: relative;
}

.agent-select {
    display: flex;
    flex-direction: column;
    border-radius: .5rem;
    width: 100%;
    top: 10px;

    &.active {
        width: 90%;
        position: absolute;
        z-index: 99;
        background-color: $grey-darkerer;
    }

    .agent-info {
        display: flex;
        flex-direction: row;
        align-items: center;
        cursor: pointer;
        padding: .2rem .2rem;
        border-radius: .5rem;

        &.selected {
            background-color: $grey-darkest;
        }
    
        &:hover {
            background-color: $grey-darker;
        }
    
        .agent-name {
            display: inline-flex;
            align-items: center;
        }
    }
}

