@import "variables";
@import "mixins";

.portal-banner {
    background-color: $primary-dark;
    border-bottom: 1px solid $primary-darkerer;
    color: $grey-lightest;
    padding-top: 2.25rem;
    padding-bottom: 2.25rem;

    .banner-content {
        display: flex;
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
    }
}

.portal-body {
    margin-left: auto;
    margin-right: auto;
}

.portal-form {
    @media screen and (max-width: 768px) {
        .row {
            display: flex;
            flex-direction: column;
        }

        @for $i from 1 through 8 {
            .col-#{$i} {
                width: 100%;
            }
        }

        .avatar-selector-wrapper {
            margin-bottom: .5rem;
        }
    }

    .form-label.form-challenge {
        font-weight: bold;
        color: $info-lighter;
    }
}

// Avatar selector
img.avatar-img,
img.agent-img {
    border-radius: 50%;
}

.avatar-selector-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: max-content;
}

.avatar-picker {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.avatar-option {
    padding: .4rem;
    width: min-content;
    border-radius: 50%;
    border: 2px solid transparent;

    &:hover {
        cursor: pointer;
        border: 2px solid rgb(254, 119, 213);
    }
}

.user-avatar {
    display: flex;
    flex-direction: row;
    width: fit-content;
}

// Service board
.service-board-layout {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.queue-container {
    width: 100%;
    padding: 2rem;
}

.queue-title {
    h3 {
        color: $info-lightest;
    }
}

.queue-header-breadcrumbs {
    ul {
        list-style: none;
        list-style-type: none;
        padding-left: 0;

        li {
            padding-left: .5rem;
            display: inline-block;

            a {
                color: $grey;
                text-decoration: none;

                &:hover {
                    color: $info-light;
                }
            }

            &:first-of-type {
                padding-left: 0;
            }

            &::after {
                content: "/";
                padding-left: .5rem;
            }

            &:last-of-type::after {
                content: none;
            }
        }
    }
}

table.queue-table {
    width: 100%;
    font-size: 95%;

    thead {
        border-bottom: $border-main;
    }

    td {
        vertical-align: middle;
    }

    a.queue-link {
        text-decoration: none;;
        color: $info-lighter;

        &:hover {
            color: $info;
        }
    }
}

.select-td {
    position: relative;
}

.agent-select,
.status-select {
    display: flex;
    flex-direction: column;
    border-radius: .5rem;
    width: 100%;
    top: 10px;

    &.active {
        width: 90%;
        position: absolute;
        z-index: 99;
        background-color: $grey-darkerer;
    }

    .agent-info,
    .status-info {
        display: flex;
        flex-direction: row;
        align-items: center;
        cursor: pointer;
        padding: .2rem .75rem;
        border-radius: .5rem;
    
        &:hover {
            background-color: $grey-darker;
        }
    
        .agent-name,
        .status-description {
            display: inline-flex;
            align-items: center;
        }
    }
}

.status-select.active {
    .status-info {
        border-radius: 0;
        width: 100%;

        &:first-of-type {
            border-top-left-radius: .5rem;
            border-top-right-radius: .5rem;
        }

        &:last-of-type {
            border-bottom-left-radius: .5rem;
            border-bottom-right-radius: .5rem;
        }
    }
}

.status-info {
    width: fit-content;

    &.selected::after {
        display: inline-block;
        margin-left: .255em;
        vertical-align: .255em;
        content: "";
        border-top: .3em solid;
        border-right: .3em solid transparent;
        border-bottom: 0;
        border-left: .3em solid transparent;
    }

    &.status-stage-1 {
        background-color: $primary-darkerer;
    }

    &.status-stage-2 {
        background-color: $info-darker;
    }

    &.status-stage-3 {
        background-color: $warning-darker;
    }

    &.status-stage-4 {
        background-color: $success-darker;
    }

    &.status-stage-5 {
        background-color: $danger-darker;
    }
}
