// Layout
$max-content-width: 1200px;

// Colors
// primary
$primary-darkest: #20182b;
$primary-darkerer: #352b3f;
$primary-darker: #403352;
$primary-dark: #472876;
$primary: #723dbd;
$primary-light: #a179d2;
$primary-lighter: #ccb7eb;
$primary-lightest: #e5ddf3;

// greys
$grey-darkest: #222426ff;
$grey-darkerer: #2c3135;
$grey-darker: #41494fff;
$grey-dark: #6a6f77ff;
$grey: #9faab5ff;
$grey-light: #b4c0cdff;
$grey-lighter: #d4dee9ff;
$grey-lighterer: #e9eff7;
$grey-lightest: #f9fcff;

// info
$info-darkest: #250420;
$info-darker: #7f105c;
$info-dark: #ac167f;
$info: #d91c9d;
$info-light: #ed5abe;
$info-lighter: #f47bcc;
$info-lightest: #fdbfed;

// success
$success-darkest: #152816ff;
$success-darker: #2f5931ff;
$success-dark: #317c36ff;
$success: #57ca5fff;
$success-light: #74dc7cff;
$success-lighter: #9feca4ff;
$success-lightest: #dafddcff;

// warning
$warning-darkest: #35331bff;
$warning-darker: #747038ff;
$warning-dark: #b0a94aff;
$warning: #f5eb57ff;
$warning-light: #faf07fff;
$warning-lighter: #fef8a4ff;
$warning-lightest: #fffddaff;

// danger
$danger-darkest: #2a0b04ff;
$danger-darker: #712210ff;
$danger-dark: #972e16ff;
$danger: #fa4921ff;
$danger-light: #f86746ff;
$danger-lighter: #f88a72ff;
$danger-lightest: #ffc8bcff;

// Borders
$border-main: 1px solid $grey-darker;
