{% extends "base.html.twig" %}
{% block nav %}
    {% include "includes/portal_nav.html.twig" %}
{% endblock %}

{% block body %}
    {# React component #}
    <div id="service-board-component"></div>
{% endblock %}
