{% extends "base.html.twig" %}
{# {% block nav %}
    {% include "includes/portal_nav.html.twig" %}
{% endblock %} #}

{% if app.user %}
    {% set username = app.user.username %}
{% else %}
    {% set username = '' %}
{% endif %}

{% block body %}
    {# React component #}
    <div data-username="{{ username }}" id="service-board-component"></div>
{% endblock %}
