{% extends "base.html.twig" %}

{% if app.user %}
    {% set username = app.user.username %}
{% else %}
    {% set username = '' %}
{% endif %}

{% if demo_mode is not defined %}
    {% set demo_mode = false %}
{% endif %}

{% block body %}
    {# React component #}
    <div id="ticket-component"
        data-username="{{ username }}"
        data-ticket-id="{{ ticket_id }}"
        data-demo-mode="{{ demo_mode }}"
    ></div>
{% endblock %}
